.container{
  /* border:1px solid #e74c3c;	 */
  width: 100%;
  height:auto;
  display: flex;;
  place-items: center; 

justify-content: center;
}

.containerItem{
  width: 80%;
  /* border:1px solid #e74c3c;	 */
  text-align: center;
/* display: block; */
padding: 10px;
}



body {
    
  /* width: 80%; */
  text-align: center;
    /* border:1px solid #e74c3c;	 */
  /* margin: 10vw auto; */
}

.h2 {
    font-size: 52px;
    font-family: 'Lexend',sans-serif;
    line-height: 60px;
    /* text-transform: uppercase; */
}


.h3 {
font-size: 40px;
font-family: 'Lexend',sans-serif;
line-height: 42px;
}

.p{
  font-size: 18px;
font-family: 'Inter',sans-serif;
line-height: 32px;
}


.underlineMagical {
  background-image: linear-gradient(70deg, white 0%, #2563EB 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 95%;
  transition: background-size 0.25s ease-in;
  color: #2563EB;

}
  /* .underlineMagical:hover{
    background-size: 100% 88%;
  } */


  .container2{
    /* border:1px solid #e74c3c;	 */
    background-image: linear-gradient(to right, #2563EB, #0f172a);
    /* height: 200px; */
    display: flex;;
    place-items: center;   
  justify-content: center;
  padding: 10px;
  }

  .containerItem2{
    width: 70%;
    /* border:1px solid #e74c3c;	 */
    /* background: yellow; */
    /* height: 100px; */
  }


  .container3{
    /* border:1px solid #e74c3c;	 */
    /* background: ; */
    width: 100%;
    /* height: 200px; */
    display: flex;;
    place-items: center;   
  justify-content: center;
  padding: 10px;
  }

  .containerItem3{
    width: 60%;
    /* border:1px solid #e74c3c;	 */
    text-align: center;
  /* display: block; */
  padding: 10px;
  }

  
@media (max-width: 800px) {
  body {
    
    /* width: 80%; */
    text-align: center;
      /* border:1px solid #e74c3c;	 */
    /* margin: 30vw auto; */
  }
  .containerItem{
    width: 100%;      
      
  }

  .containerItem2{
    width: 100%;
    
  }
  
  .containerItem3{
    width: 100%;
  }

.h2 {
  font-size: 36px;
  line-height: normal;
  }
.h3 {
font-size: 20px;
line-height: normal;
}

}