
.inputGroup{
  position: relative;
  margin:20px;
  
  /* width: 280px; */
  padding: 10px;
}

.inputGroup input{
  border: solid 1px #0f172a;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
  width: 90%;
}

.inputGroup label{
  position: absolute;
  left: 15px;
  top:-40px;
  color: #2563EB;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
  
}

.inputGroup input:focus{
  outline: none;
  border: solid 1px #2563EB;
}

.inputGroup input:focus~label{
  /* transform: translateX(0%) scale(0.8); */
  /* padding: 0 0.2em; */
  color: #2563EB;
  font-weight: bold;
  /* top:-10px; */
}